/* Color palette */
:root {
  --shadow-grey: #1B1725;
  --porcelain: #FDFFFC;
  --emerald: #64E079;
  --ocean-blue: #2E83B0;
  --green: #157F1F;
}

/* Global Styles */
.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Body */
body {
    background-color: var(--porcelain)
}

/* Header */
.header {
    background-color: var(--shadow-grey);
    padding: 15px;
}

.header h1 {
    font-family: Georgia, "Times New Roman", serif;
    color: var(--porcelain);
    font-size: 2em;
    margin-bottom: -10px;
}

.tagline {
    font-family: Georgia, "Times New Roman", serif;
    color: var(--emerald);
    font-size: 1.1em;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 6em;
    height: 6em;
    border: 3px solid var(--porcelain);
    border-radius: 10px;
}

/* Navigation */
.menu-toggle {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    margin-top: -5px;
    margin-right: -15px;
}

.menu-toggle:hover {
    opacity: 0.5;
}

.menu-label {
    color: var(--porcelain);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.1em;
}

.menu-toggle img {
    width: 6em;
    height: 6em;
}

.nav-links {
    display: none;
    position: absolute;
    right: 1.6em;
    top: 7em;
    background-color: var(--shadow-grey);
    padding: 10px;
    flex-direction: column;
    border: 3px solid var(--porcelain);
}

.nav-links.open {
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    padding: 10px;
    color: var(--porcelain);
    text-decoration: none;
    font-family: Georgia, "Times New Roman", serif;
}

.nav-links a.active {
    color: var(--emerald);
}

.nav-links a:hover {
    background-color: var(--ocean-blue);
}

/* Hero Section */
.hero {
    background-color: lightgrey;
    padding: 1em;
    font-family: Georgia, "Times New Roman", serif;
}

.hero h2 {
    font-size: 1.3em;
    margin-top: 0;
}

.stats {
    display: flex;
    gap: 3.2em;
}

.stat {
    text-align: center;
}

.stat .number {
    font-size: 1.3em;
    color: var(--green);
    font-weight: bold;
}

.stat .label {
    display: block;
    color: var(--shadow-grey);
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image img {
    width: 100%;
    max-width: none;
    display: block;
}

/* Learn Section */
.learn-section {
    padding: 0 1em;
    font-family: Georgia, "Times New Roman", serif;
}

.learn-card {
    border: 2px solid var(--shadow-grey);
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1.5em;
}

.learn-card:hover {
    background-color: lightgrey;
    transform: translateY(-5px);
}

.learn-image img {
    width: 100%;
    border-radius: 8px;
}

.learn-caption {
    font-size: 0.9em;
    color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
}

.form-card {
    background: var(--green);
    color: var(--shadow-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-card:hover {
    background-color: var(--green);
    transform: none;
}

.feedback-btn {
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 6px;
    background: var(--shadow-grey);
    color: var(--porcelain);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
}

.feedback-btn:hover {
    background: var(--ocean-blue);
}

/* Tablet */
@media (min-width: 600px) {
    /* Learn Section */
    .learn-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1.5em;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Navigation */
    .menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px; 
    }

    .nav-links {
        display: flex !important;
        position: static;
        flex-direction: row;
        gap: 25px;
        padding: 0;
        margin: 0;
        border: none;
    }

    .nav-links a {
        padding: 0;
        font-size: 1.1em;
        margin-top: -2em;
    }

    .nav-links a:hover {
        background: none;
        color: var(--ocean-blue);
    }

    .hero-wrapper {
        display: flex;
    }

    .hero {
        width: 80vw; 
        padding: 2em;
    }

    /* Learn Section */
   .learn-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 1.5em;
    }

    .form-card {
        grid-column: 1 / -1;
    }
}
