/* Color palette */
:root {
  --shadow-grey: #1B1725;
  --porcelain: #FDFFFC;
  --emerald: #64E079;
  --ocean-blue: #2E83B0;
  --green: #157F1F;
}

/* Global Styles */
.page-wrapper {
    max-width: 1200px;
    border: 1px solid var(--shadow-grey);
    margin: 0 auto;
}

/* Body */
body {
    background-color: var(--porcelain)
}

/* Header */
.header {
    background-color: var(--shadow-grey);
    padding: 15px;
    position: relative;
    z-index: 1000;
}

.header h1 {
    font-family: Georgia, "Times New Roman", serif;
    color: var(--porcelain);
    font-size: 2em;
    margin-bottom: -10px;
}

.tagline {
    font-family: Georgia, "Times New Roman", serif;
    color: var(--emerald);
    font-size: 1.1em;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 6em;
    height: 6em;
    border: 3px solid var(--porcelain);
    border-radius: 10px;
}

/* Navigation */
.menu-toggle {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    margin-top: -5px;
    margin-right: -15px;
}

.menu-toggle:hover {
    opacity: 0.5;
}

.menu-label {
    color: var(--porcelain);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.1em;
}

.menu-toggle img {
    width: 6em;
    height: 6em;
}

.nav-links {
    display: none;
    position: absolute;
    right: 1.6em;
    top: 7em;
    background-color: var(--shadow-grey);
    padding: 10px;
    flex-direction: column;
    border: 3px solid var(--porcelain);
}

.nav-links.open {
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    padding: 10px;
    color: var(--porcelain);
    text-decoration: none;
    font-family: Georgia, "Times New Roman", serif;
}

.nav-links a.active {
    color: var(--emerald) !important;
}

.nav-links a:hover {
    background-color: var(--ocean-blue);
}

/* Hero Section */
.hero {
    background-color: lightgrey;
    padding: 1em;
    font-family: Georgia, "Times New Roman", serif;
}

.hero h2 {
    font-size: 1.3em;
    margin-top: 0;
}

.stats {
    display: flex;
    gap: 3.2em;
}

.stat {
    text-align: center;
}

.stat .number {
    font-size: 1.3em;
    color: var(--green);
    font-weight: bold;
}

.stat .label {
    display: block;
    color: var(--shadow-grey);
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.fundamentals-hero .stats {
    display: flex;
    gap: 0.5em;
}

.fundamentals-hero .stat {
    position: relative;
    padding-right: 0.8em;
}

.fundamentals-hero .stat .label {
    color: var(--green);
    font-size: 1em;
    text-decoration: none;
}

.fundamentals-hero .stat .label:hover {
    color: var(--ocean-blue);
}

.fundamentals-hero .stat:not(:last-child)::after {
    content: "•";
    color: var(--green);
    position: absolute;
    right: 0;
    top: 0;
}

.hero-image img {
    width: 100%;
    max-width: none;
    display: block;
}

/* Learn Section */
.learn-title {
    padding: 0 0.7em;
}

.learn-section {
    padding: 0 1em;
    font-family: Georgia, "Times New Roman", serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1.5;
}

.learn-card {
    border: 2px solid var(--shadow-grey);
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1.5em;
    text-decoration: none;
    color: inherit;
}

.learn-card:hover {
    background-color: lightgrey;
    transform: scale(1.04);
}

.learn-image img {
    width: 100%;
    border-radius: 8px;
}

.learn-caption {
    font-size: 0.9em;
    color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
}

.form-card {
    background: var(--emerald);
    color: var(--shadow-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-card:hover {
    background-color: var(--emerald);
    transform: none;
}

.feedback-btn {
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 6px;
    background: var(--shadow-grey);
    color: var(--porcelain);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
}

.feedback-btn:hover {
    background: var(--ocean-blue);
    transform: scale(1.04);
}

/* Rules Section */
.rules-intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    color: var(--shadow-grey);
    line-height: 1.5;
    padding-left: 1em;
    padding-right: 1em;
}

.rules-photo {
    display: flex;
    justify-content: center;
}

.rules-photo img {
    width: 70%;
}

.rules-text {
    margin-top: 0;
    color: var(--green);
    padding-left: 1em; 
    padding-right: 1em;
}

.rules-text li {
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    color: var(--shadow-grey)
}

.sub-faults li {
    margin-bottom: 1em;
}

.section-divider {
    width: 85%;
    margin: 2em auto 1.5em;
}

/* Scoring Section */
.scoring-section {
    padding-left: 1em;
    padding-right: 1em;
}

.scoring-section h2 {
    padding-left: 0em;
    padding-right: 0em;
}

.scoring-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.score-box {
    border: 2px solid var(--shadow-grey);
    border-radius: 15px;
    padding: 1em;
    text-align: center;
    background: var(--porcelain);
}

.score-number {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: var(--green);
}

.score-label {
    display: block;
    margin-top: 0.3em;
    font-size: 0.9em;
    color: var(--shadow-grey);
    font-family: Arial, Helvetica, sans-serif;
}

.score-callout {
    background: var(--emerald);
    color: var(--shadow-grey);
    padding-top: 1em;
    padding-bottom: 0.2em;
    border-radius: 15px;
    border: 2px solid var(--shadow-grey);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    text-align: center;
}

.scoring-explainer li {
    margin-bottom: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

/* Video Section */
.watch-section {
    background-color: lightgrey;
    padding: 1em;
}

.watch-section h2 {
    font-family: Georgia, "Times New Roman", serif;
    color: var(--shadow-grey);
    font-size: 1.3em;
    margin: 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 55%;
    margin-top: 1em;
}

.video-wrapper video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: var(--shadow-grey);
    margin-top: 1em;
    line-height: 1.5;
}

/* Footer */
.footer {
    background-color: var(--shadow-grey);
    color: var(--porcelain);
    padding: 1em;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.feedback-pages {
    display: none !important;
}

.footer-pages, .footer-extra {
    margin-bottom: 2em;
}

.footer-pages h3, .footer-extra h3 {
    margin-top: 0;
    color: var(--emerald);
    font-family: Georgia, "Times New Roman", serif;
}

.footer-pages a, .footer-extra a {
    display: block;
    color: var(--porcelain);
    text-decoration: none;
    margin: 0.5em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.footer-pages a:hover, .footer-extra a:hover {
    color: var(--ocean-blue);
}

.footer-contact {
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.footer-contact span {
    text-decoration: underline;
}

.footer-copy {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 0.9em;
}

/* Tablet */
@media (min-width: 600px) {
    /* Learn Section */
    .learn-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1.5em;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Navigation */
    .menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px; 
    }

    .nav-links {
        display: flex !important;
        position: static;
        flex-direction: row;
        gap: 25px;
        padding: 0;
        margin: 0;
        border: none;
    }

    .nav-links a {
        padding: 0;
        font-size: 1.1em;
        margin-top: -2em;
    }

    .nav-links a:hover {
        background: none;
        color: var(--ocean-blue);
    }

    .hero-wrapper {
        display: flex;
    }

    .hero {
        width: 100%; 
        padding: 2em;
    }

    .fundamentals-hero .hero{
        padding-left: 1em;
    }

    /* Learn Section */
   .learn-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 1.5em;
    }

    .form-card {
        grid-column: 1 / -1;
    }

    /* Video Section */
    .watch-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .video-wrapper {
        grid-column: 1;
        margin-top: -3.3em;
        margin-bottom: 0.4em;
    }

    .watch-section h2, .video-description {
        grid-column: 2;
    }

    .watch-section h2 {
        margin-top: 5px;
    }

    .video-description {
        margin-top: -10px;
    }

    /* Footer */
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5em;
    }

    .feedback-pages {
        display: block !important;
    }

    .feedback-extra {
        display: none !important;
    }

    .footer-pages {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .footer-pages h3, .footer-extra h3 {
        display: none;
    }

    .footer-pages a {
        position: relative;
        padding-right: 0.75em;
        margin-right: 0.75em;
    }

    .footer-pages a:not(:last-child)::after {
        content: "|";
        position: absolute;
        right: -0.7em;
        color: var(--porcelain);
    }

    .footer-contact {
        margin-top: -2em;
    }

    .footer-copy {
        margin-top: -1em;
    }
}
